<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loginMenu">
        <div class="form">
       
        
          <form class="loginForm">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>GOOOO!</button>
            <p class="message">Don't you have an account? <a href="#">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>